# Import and Clean Weather Data

In [5]:
import pandas as pd
import numpy as np

In [16]:
def dfCleaner(filename):
    
    df = pd.read_csv(f'./data/raw/{filename}')
    df = df.rename({' MaxTemperature':'MaxTemp',' MinTemperature':'MinTemp',
                                ' Precipitation':'Precipitation'}, axis='columns')
    
    df = df.replace(' M',np.nan).dropna(how='any')
    df['Precipitation'] = df['Precipitation'].replace(to_replace=' T',value=0.001)
    df['Precipitation'] = df['Precipitation'].astype('float')
    
    return df

#### 1) New York City

In [21]:
df = dfCleaner('nycWeather.csv')
df.to_csv('./data/clean/nycClean.csv',index=False)

#### 2) LA

In [23]:
df = dfCleaner('laWeather.csv')
df.to_csv('./data/clean/laClean.csv',index=False)

#### 3) Chicago

In [24]:
df = dfCleaner('chiWeather.csv')
df.to_csv('./data/clean/chiClean.csv',index=False)

#### 4) Houston

In [27]:
df = dfCleaner('houWeather.csv')
df.to_csv('./data/clean/houClean.csv',index=False)

#### 5) Philadelphia

In [29]:
df = dfCleaner('phlWeather.csv')
df.to_csv('./data/clean/phlClean.csv',index=False)

#### 6) Phoenix

In [30]:
df = dfCleaner('phxWeather.csv')
df.to_csv('./data/clean/phxClean.csv',index=False)

#### 7) San Diego

In [31]:
df = dfCleaner('sdWeather.csv')
df.to_csv('./data/clean/sdClean.csv',index=False)

#### 8) San Antonio

In [32]:
df = dfCleaner('saWeather.csv')
df.to_csv('./data/clean/saClean.csv',index=False)

#### 9) Dallas

In [33]:
df = dfCleaner('dfwWeather.csv')
df.to_csv('./data/clean/dfwClean.csv',index=False)

#### 10) San Jose

In [34]:
df = dfCleaner('sjWeather.csv')
df.to_csv('./data/clean/sjClean.csv',index=False)

In [35]:
df

            Date MaxTemp MinTemp  Precipitation
0     2014-01-01      62      35            0.0
1     2014-01-02      65      38            0.0
2     2014-01-03      64      40            0.0
3     2014-01-04      66      38            0.0
4     2014-01-05      66      35            0.0
...          ...     ...     ...            ...
1821  2018-12-27      60      44            0.0
1822  2018-12-28      58      40            0.0
1823  2018-12-29      61      36            0.0
1824  2018-12-30      58      36            0.0
1825  2018-12-31      56      41            0.0

[1818 rows x 4 columns]