In [1]:
import pandas as pd

In [37]:
# Read in DFW weather data
weatherDFW = pd.read_csv('./data/dfwWeather.csv')
weatherDFW = weatherDFW.rename({' MaxTemperature':'MaxTemp',' MinTemperature':'MinTemp',
                                ' Precipitation':'Precipitation'}, axis='columns')

In [39]:
weatherDFW['Precipitation'] = weatherDFW['Precipitation'].replace(to_replace=' T',value=0.001)
weatherDFW['Precipitation'] = weatherDFW['Precipitation'].astype('float')

In [42]:
weatherDFW.head()

         Date  MaxTemp  MinTemp  Precipitation
0  2014-01-01       69       31            0.0
1  2014-01-02       43       25            0.0
2  2014-01-03       52       25            0.0
3  2014-01-04       70       41            0.0
4  2014-01-05       50       21            0.0